<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <title>My Applicatoin</title>
   
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    
    <header>
        <nav>
            <ul>
               
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li></ul>
        </nav>
        
    <h1>{{page_title}}</h1>
    
    </header>
    {{{body}}}
    <footer>
        <div >
	    <center>&copy; 2016 Rattana Neak</center>
	    </div>    
    </footer>
    
</body>
</html>