<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <title>My home</title>
    {{{_sections.head}}}
<link rel="stylesheet" href="views/css/main.css">
</head>
<body>
    
    <header>
        
    </header>
    {{{body}}}
    <script src='htpp://code.jquery.com/jquery-2.0.3.min.js'></script>
    {{{_sections.jquery}}}
</body>
</html>