<h1>Please enter the titlle here</h1>
<form action="/search" method="POST">
    <input type="text" name="title" placeholder="Games Title" required/>
    <input type="submit" name="submit" value="Search"/>    
</form>
