<form action="/update" method="POST">
Game title:<input type="text" name="title" value="{{title}}"/><br>
Plateform :<input type="text" name="plateform" value="{{plateform}}"/><br>
Price : <input type="number" name="price" value="{{price}}"/><br><button>Save</button>
</form><a href="/"><button>Cancel</button></a>